@font-face {
  font-family: 'IRANYekan';
  src:local('IRANYekan'), url(../src/Assets/fonts/iranyekan/ttf/IRANYekanWebRegular.ttf)format('truetype');
}
body {
  margin: 0;
  font-family:'IRANYekan';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
